body,
html {
  height: 100%;
}

.body-text {
  color: black;
  font-size: max(2rem, 2vw);
  font-family: Droid;
}

.header {
  font-size: max(44px, 3vw);
  color: black;
  font-family: Bio-kid;
}

/*/////////////////////////////////  FONTS /////////////////////////////////*/
@font-face {
  font-family: Bio-kid;
  src: url(../fonts/BIONICKIDSIMPLE.ttf);
}
@font-face {
  font-family: Droid;
  src: url(../fonts/DisposableDroidBB.ttf);
}
/*/////////////////////////////////  Wrapper /////////////////////////////////*/
.container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 0.01fr 0.98fr 0.01fr;
  background-color: black;
  color: white;
  grid-template-rows: minmax(200px, 800px) 1fr;
}

.sidebar {
  background-color: rgb(0, 0, 0);
  grid-row: span 2;
}

/*/////////////////////////////////  HERO   /////////////////////////////////*/
.hero {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  justify-content: center;
  text-align: center;
}

.hero__robot {
  aspect-ratio: 1/1;
  max-height: 400px;
}

.hero__header {
  margin-top: min(50px, 30%);
  gap: 15px;
  display: grid;
  height: 30%;
}

.hero__button {
  background-color: white;
  border: none;
  width: fit-content;
  margin: auto;
}

.hero__img {
  aspect-ratio: 1/1;
  max-height: 200px;
  grid-column: 1/2;
  grid-row: 1;
}

.hero__button__grid {
  display: grid;
  align-items: flex-end;
  justify-content: center;
}

.hero__img_add {
  grid-column: 1/2;
  grid-row: 1;
  background-color: #e0e0e0;
  width: 50px;
  border-radius: 20px;
  font-size: max(30px, 1vw);
}

/*/////////////////////////////////  LIST /////////////////////////////////*/
.books-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.25fr));
  background-color: #e0e0e0;
}

.card {
  padding: 12.5% 12.5%;
}

.card__background {
  border: 5px solid white;
  box-shadow: 2px 2px white;
  overflow-wrap: break-word;
}

.card__header {
  font-size: max(1.1rem, 1.2vw);
}

.card-author {
  text-decoration: underline;
  font-style: italic;
}

.card__checkbox {
  aspect-ratio: 1/1;
  width: max(1rem, 1vw);
}

/*/////////////////////////////////  OVERLAY    ////////////////////////////////////////*/
.overlay {
  position: fixed;
  width: min(700px, 85%);
  height: max(700px, 20%);
  background-color: #e0e0e0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 100px 100px 100vh 100vw rgba(0, 0, 0, 0.89);
  text-align: center;
  visibility: hidden;
}

.overlay__wrapper {
  margin: 5%;
}

.overlay__header {
  font-size: max(16px, 1vw);
}

.overlay__input {
  width: 75%;
  font-size: max(1rem, 1vw);
  font-family: Droid;
  overflow-wrap: break-word;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.overlay__textarea {
  box-sizing: border-box;
  max-width: 75%;
  min-width: 75%;
  font-size: max(1rem, 1vw);
  font-family: Droid;
  resize: none;
}

.overlay__checkbox {
  aspect-ratio: 1/1;
  width: max(1rem, 0.6vw);
}

.overlay__button {
  font-size: max(1rem, 1vw);
  background-color: black;
  color: #e0e0e0;
  font-family: Bio-kid;
  padding: 2%;
}

.overlay__button:hover {
  color: white;
}

/*/////////////////////////////////  MEDIA QUERIES    /////////////////////////////////*/
@media (max-width: 919px) {
  .books-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
  }
}
@media (max-width: 600px) {
  .hero__robot {
    max-height: 300px;
  }
  .hero {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  .books-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

/*# sourceMappingURL=style.css.map */
